<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Profile - About Me</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">

        <!--About me-->
        <div class="title_content">
            <div class="text_content">Toni Kolaba</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Name</label>
                <span class="value">Toni Kolaba</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>Date of birth</label>
                <span class="value">October 09, 1991</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Adress</label>
                <span class="value">Albania</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">tonikolaba@hotmail.com</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-phone"></i>
                <label>Phone</label>
                <span class="value">Ask &smile;</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Website</label>
                <span class="value"><a href="#" target="_blank">Cooming Soon</a></span>
                <div class="clear"></div>
            </li>

        </ul>

    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/about_1.jpg" alt="" />
            <img src="images/img-profile/about_2.jpg" alt="" />
            <img src="images/img-profile/about_3.jpg" alt="" />
        </div>

    </div>

</div>


<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12">
        <div class="title_content">
            <div class="text_content">Services</div>
            <div class="clear"></div>
        </div>



        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-file-code-o"></i></div>
                <div class="service-detail">
                    <h6>Programming</h6>
                    <p> - Java <br /> - Bootstrap<br /> - Joomla <br />- Linux <br /> </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-tags"></i></div>
                <div class="service-detail">
                    <h6>Design</h6>
                    <p>- Web Development <br /> - Logo <br /> - Video <br /> - Photo <br /> </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-microchip"></i></div>
                <div class="service-detail">
                    <h6>IT Support</h6>
                    <p>- Hardware <br /> - Software <br /></p>
                </div>
            </div>
        </div>
     </div>
</div><!-- End Services -->


<div class="clear"></div>
</div>
<!-- End .profile -->
